/*    Imported Font-family    */
@font-face {
  font-family: MightySouly;
  src: url('../fonts/MightySouly.ttf');
}
@font-face {
  font-family: Espressonal;
  src: url('../fonts/Espressonal.otf');
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Espressonal, Arial, sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
}

/*   Custom classes   */
.fancy {
  font-family: MightySouly;
}

.hide {
  display: none;
}

.left-hand-animation {
  animation: leftHandMotion 2s infinite ease-in-out;
}

.right-hand-animation {
  animation: rightHandMotion 2s infinite ease-in-out;
}

/*    Main frame   */
#game-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 85vw;
  max-width: 1240px;
  height: 90vh;
  max-height: 860px;
  border-radius: 10px;
  border: #000 1px solid;
  padding: 1.2em;
}

/*   Header   */
#player-headers {
  position: relative;
  display: flex;
  width: 100%;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.player-1-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  min-width: 30%;
}

.player-2-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  border-radius: 10px;
  min-width: 30%;
}

.player-icon {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: #000 2px solid;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0em 1em;
}

.player-name {
  font-weight: bold;
  font-size: 2em;
}

.player-status {
  color: #555;
  font-size: 1.2em;
}

/*   Scoreboard   */
#scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.8em;
  border: 2px solid black;
  min-width: 20%;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 0.2em;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.score-box:hover {
  transform: scale(1.1);
}

#current-score span,
#overs-left span {
  font-size: 1.25em;
  font-weight: bold;
}

/*   Hand frame   */
#green-layout {
  display: flex;
  width: 100%;
  height: 60%;
}

#left-side {
  display: flex;
  justify-content: left;
  width: 50%;
}

#left-side img {
  width: 90%;
  object-fit: contain;
  object-position: left;
  transform-origin: left;
}

#right-side {
  display: flex;
  justify-content: right;
  width: 50%;
}

#right-side img {
  width: 90%;
  object-fit: contain;
  object-position: right;
  transform: translateX(-100%) rotateY(180deg);
  transform-origin: right;
}

.side {
  flex: 1;
}

/*    Choice Box   */
#bottom-box {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  animation: bottom-box-entrance 1s ease-out;
}

input[type='radio'] {
  display: none;
}

.circle-box {
  font-size: 2rem;
  font-weight: 600;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.circle-box:hover {
  transform: scale(1.1);
}

input[type='radio']:checked + .circle-box {
  transform: scale(1.1);
  border-color: #007bff;
}

/*    Modal styling    */
.modal {
  display: none;
  position: fixed;
  font-family: Espressonal, Arial, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff704d;
  padding: 70px; /* Increased size */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 1000;
}

.modal.active {
  display: block;
}

#game-content.blur {
  filter: blur(9px);
  pointer-events: none;
  user-select: none;
}

.modal-content {
  color: #fff;
  font-size: 1.5em; /* Increased text size */
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content form label {
  margin: 10px 0 5px;
}

.modal-content form input[type='text'] {
  padding: 5px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #ff704d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#username-submit {
  font-size: 28px;
}

#join-room-submit {
  cursor: pointer;
  font-size: 36px;
}

#start-game {
  cursor: pointer;
  font-size: 36px;
}

button:hover {
  background-color: #ff5733;
}

/* Disable pointer events on the body when a modal is active */
body.modal-active {
  pointer-events: none;
  user-select: none;
}

body.modal-active .modal {
  pointer-events: auto; /* Allow pointer events on modals */
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 5px;
}

/* Responsive styles for screens smaller than 930px */
@media screen and (max-width: 930px) {
  #game-content {
    margin: 0.8rem;
    padding: 0.8em;
    width: 90vw;
  }

  .player-icon {
    width: 4.2em;
    height: 4.2em;
  }

  .player-info {
    gap: 0.1em;
    padding: 0em 0.8em;
  }

  .player-name {
    font-weight: 700;
    font-size: 1.7em;
  }

  .player-status {
    font-size: 1em;
  }

  #scoreboard {
    flex-direction: column;
    padding: 0.3em;
    gap: 0.1em;
  }

  .score-box {
    flex-direction: row;
    gap: 1.5em;
  }

  #current-score span,
  #overs-left span {
    font-size: 1.1em;
    font-weight: 600;
  }

  .circle-box {
    font-size: 1.7rem;
  }
}

/* Responsive styles for screens smaller than 660px */
@media screen and (max-width: 660px) {
  #game-content {
    margin: 0.5rem;
    padding: 0.5em;
    width: 96vw;
    height: 96vh;
  }

  #player-headers {
    margin-bottom: 4em;
  }

  .player-icon {
    width: 3.8em;
    height: 3.8em;
  }

  .player-info {
    gap: 0;
    padding: 0em 0.4em;
  }

  .player-name {
    font-weight: 600;
    font-size: 1.4em;
  }

  .player-status {
    font-size: 0.8em;
  }

  #scoreboard {
    position: absolute;
    top: 125%;
    left: 50%;
    padding: 0;
    gap: 0;
    transform: translateX(-50%);
  }

  .score-box {
    gap: 1em;
  }

  #current-score span,
  #overs-left span {
    font-size: 1em;
  }

  #bottom-box {
    width: 100%;
  }

  .circle-box {
    font-size: 1.5rem;
  }
}

@keyframes scoreboard-entrance {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-box-entrance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftHandMotion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rightHandMotion {
  0% {
    transform: rotate(0deg) translateX(-100%) rotateY(180deg);
  }
  50% {
    transform: rotate(30deg) translateX(-100%) rotateY(180deg);
  }
  100% {
    transform: rotate(0deg) translateX(-100%) rotateY(180deg);
  }
}
