<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HandyCricket</title>
    <link rel="stylesheet" href="/style/game.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/scripts/game.js" defer></script>
  </head>
  <body>
    <h1>HandyCricket</h1>
    <button id="createRoom">Create Private Room</button>
    <button id="joinRoom">Join Private Room</button>
    <button id="joinRandom">Play Randomly</button>
  </body>
</html>
